<%= form_for(@new_task, remote: true) do |f| %>
  <% if @new_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @new_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
